{%  extends 'base.html' %}
{% load static %}
{% block title %}
    Certificates
{% endblock %}


{% block content %}
    <div class="container  text-center mt-3 text-light">
        <h1>My certificates</h1>
    </div>
    {% for certificate in certificates %}

    <div class="container mt-4">
        <div class="col-md-auto">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">
        <div class="col p-4 d-flex flex-column position-static ">
          <h3 class="mb-0">{{ certificate.name }}</h3>
          <p class="card-text mb-auto">{{ certificate.description|truncatewords:50 }}</p>
        </div>
            {% if certificate.image %}
                <a href="{{ certificate.page }}"><img class="img-fluid" src="{{ certificate.image.url }}" alt=" " height="800" width="auto" ></a>
            {% else %}
        <p class="fnt-weight-bold mb-0">
            <a href="#"></a>
            {% endif %}

      </div>
    </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
