{%  extends 'base.html' %}
{% load static %}
{% block title %}
    Project details
{% endblock %}


{% block content %}
 <div class="container px-4 py-5 my-5 border p-3 bg-light">
            <div class="col-auto d-lg-block text-center">
            {% if project.image %}
                <img class="rounded mx-auto d-block" src="{{ project.image.url }}" alt=" " width="auto" height="400">
            {% endif %}
            </div>
            <hr>
     <div class="row g-0 p-auto">
    <h1 class="display-5 fw-bold text-center">{{ project.name }}</h1>
         <strong class="d-inline-block mb-2 text-primary"><p>{{ project.category }}</p></strong>
         <div class="mb-1 text-muted">Project status: {{ project.phase_project }}</div>

    <div class="container">
      <p class="lead m-4">{{ project.description }}</p>
    </div>
     </div>
       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
           {% if project.git_page %}
          <a href="{{ project.git_page }}" class="nav-link text-light text-uppercase font-weight-bold">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">This project on GitHub</button></a>
           {% endif %}
           <a href="{% url 'projects' %}" class="nav-link text-light text-uppercase font-weight-bold">
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">BACK TO PROJECTS</button></a>
 </div>
 </div>
{% endblock %}